{% load custom_filters %}
{% load html_components %}
<li class="dashed-box application {{application|student_status|minify|lower}} {{application|professor_status|minify|lower}}">
    <div class="application-meta-container">
        {% if application.priority and application.priority <= 5 %}
            <div>Priority:</div>
            <div class="priority-number">{{application.priority}}</div>
        {% endif %}
        {% if application.student_status == 'PRE' %}
            <div class="application-status preempt">{{application|student_status|minify}}</div>
        {% elif application.professor_status == 'OFFR' %}
            <div class="application-status offer">{{application|professor_status|minify}}</div>
        {% endif %}
    </div>
    <div>
        {{application.student|name_link}}
        on {{application.date_created|date:"DATE_FORMAT"}}
        {% if application.group_members.all|length > 0 %}
            <br>    
            with {{application.group_members.all|name_list:True}}
        {% endif %}
        <br>
        <hr>
        {% comment %}<em>Description: </em>{{application.project.description}}<br/>{% endcomment %}
        {{application.message}}
        <br>
        {% if application|is_closed %}
            {% if application.professor_status == 'DECL' %}
            <b>Application declined.</b>
            {% else %}
            <b>Application retracted.</b>
            {% endif %}
        {% elif buttons %}
            {% if application.professor_status == 'NONE' %}
            <button type='button' onclick='offerApplication({{application.id}})'>Extend Offer</button>
            <button type='button' onclick='declineApplication({{application.id}})'>Reject Application</button>
            {% elif application.professor_status == 'OFFR' %}
                {% if application.student_status == 'ACC' %}
                <b>Offer accepted.</b>
                {% else %}
                <b>Offer extended.</b>
                {% endif %}
            {% elif application.professor_status == 'DECL' %}
            <b>Application declined.</b>
            {% endif %}
        {% endif %}
        
        {% application_comment_section application.id comments comment_box=commentBox %}
    </div>
</li>