{% load custom_filters %}
{% load html_components %}
<li class="dashed-box application {{application|student_status|minify|lower}} {{application|professor_status|minify|lower}}">
    <div class="application-meta-container">
        {% if application.priority and application.priority <= 5 %}
            <div>Priority:</div>
            <div class="priority-number">{{application.priority}}</div>
        {% endif %}
        {% if studentStatus == 'PRE' %}
            <div class="application-status preempt">{{application|student_status|minify}}</div>
        {% elif professorStatus == 'OFFR' %}
            <div class="application-status offer">{{application|professor_status|minify}}</div>
        {% endif %}
    </div>
    <div>
        <a href="/project/{{application.project.id}}" class="undecorated-link">
            <b>{{application.project.title}}</b>
        </a> 
        by 
        <a href="/user/{{application.project.professor.username}}" class="undecorated-link underline-hover">
            {{application.project.professor.first_name}} {{application.project.professor.last_name}}
        </a>
        <br>
        {% if application.student.username != user.username %}
            {{application.student.first_name}} {{application.student.last_name}}
            applied
        {%else%}
            You applied
        {% endif %}
        on {{application.date_created|date:"DATE_FORMAT"}}
        {% if application.group_members.all|length > 0 %}
            <br>    
            with {{application.group_members.all|name_list}}
        {% endif %}
        {% if application.student.username != user.username %}
            <button type="button" onclick="leaveGroup({{application.id}})">Leave group</button>
        {% endif %}
        <br>
        {% if professorStatus != 'NONE' %}
            {{application.project.professor.first_name}} {{application.project.professor.last_name}} 
            {% if professorStatus == 'OFFR' %}
            offered you this project.
            {% elif professorStatus == 'DECL' %}
            declined this application.
            {% elif professorStatus == 'RETR' %}
            retracted this offer.
            {% endif %}
            <br>
        {% endif %}
        {% if professorStatus == 'OFFR'%}
            {% if studentStatus == 'ACC' %}
            You accepted this project.<br>
            {% elif studentStatus == 'DECL' %}
            You declined this project.<br>
            {% endif %}
        {% endif %}
        {% if studentStatus == 'RETR' %}
            You retracted this application.<br>
        {% endif %}
        {% if application.student.username == user.username %}
            {% if checkbox %}
                Automatically accept offer: 
                <input type="checkbox" class="low-checkbox"
                id="{{application.id}}" onclick="updateAppStatus(this)"
                {% if studentStatus == 'PRE' %} checked {% endif %}><br>
            {% elif responses %}
                <button type='button' onclick='acceptOffer({{application.id}})'>Accept Project Offer</button>
                <button type='button' onclick='declineOffer({{application.id}})'>Reject Offer</button>
            {% endif %}
            {% if professorStatus != 'OFFR' and not application|is_closed %}
                <button type='button' onclick='retractApplication({{application.id}})'>Retract Application</button><br>
            {% endif %}
        {% endif %}
        <hr>
        {% comment %}<em>Description: </em>{{application.project.description}}<br/>{% endcomment %}
        {{application.message}}
        <br>
        {% application_comment_section application.id comments comment_box=True %}
    </div>
</li>