{% load custom_filters %}
{% load html_components %}
<form action="/applications/update_professor_status/#NEXT" method="post" id="status_edit_form">
  {% csrf_token %}
  <input type="hidden" name="application" id="status_id">
  <input type="hidden" name="status" id="status_action">
</form>
<ul>
  {% for application in applications %}
  {% application_professor application comments|for_application:application buttons=True comment_box=commentBox %}
  {% endfor %}
</ul>