{% load custom_filters %}
{% load html_components %}
{% if comments %}
    {% for comment in comments %}
        <hr>
        {{comment.sender|name_link}}
        <em class="comment-date"> on {{comment.date_created|date:"DATE_FORMAT"}}:</em>
        <br>
        {{comment.message}}
    {% endfor %}
    {% if commentBox %}
        <hr>
        {% comment_box id %}
    {% endif %}
{% elif commentBox %}
    <hr style="margin-bottom:0;">
    <label for="id_message">Comment:</label>
    {% comment_box id %}
{% endif %}