<select id="status-dropdown" oninput="setStatus(this)" >
    <option value="" disabled selected>Select status</option>
    <option value="Open">Open</option>
    <option value="Draft">Draft</option>
    <option value="Closed">Closed</option>
</select>
<label for="custom-status-checkbox" id="custom-status-label">or enter custom:</label>
<input type="checkbox" id="custom-status-checkbox" onclick="toggleCustomStatus(this)">
<span class="dashed-box status-box">
    <input type="text" placeholder="Custom status" maxlength=128 id="custom-status-textfield" oninput="setCustomStatus(this)"><br/>
    <label for="custom-status-visibility-checkbox">hidden from view:</label>
    <input type="checkbox" id="custom-status-visibility-checkbox" onclick="toggleCustomStatusVisibility(this)" class="low-checkbox">
</span>