{% load html_components %}

{% if onclick %}
<ul id="{{id}}" class="tagBox closable categorized">
{% else %}
<ul id="{{id}}" class="tagBox categorized">
{% endif %}
    {% for category, tags in tagsByCategory.items %}
    <ul class="tagCategory {{category|slugify}}" meta="{{category}}">
        <h3>{{category}}</h3>
        {% for tag in tags %}
            {% tagbubble tag onclick %}
        {% endfor %}
    </ul>
    {% endfor %}
</ul>