{% if onclick %}
    <li class="tag tag-bubble {{ tag.category|lower|slugify }}" title="{{tag.category}}" onclick="removeTag(this, {{tag.id}})">{{tag.name}}</li>
{% else %}
    <li class="tag tag-bubble {{ tag.category|lower|slugify }}" title="{{tag.category}}">{{tag.name}}</li>
{% endif %}