{% load html_components %}
{% load custom_filters %}
{% for category, tags in tagsByCategory.items %}
<div class="filter-category">
    <div class="filter-header" onclick="collapse(this)">
        <h5 class="nobreak click-pointer">{{category}}</h5>
        <div class="tag tag-bubble {{ category|lower|slugify }}"></div>
    </div>
    <div class="collapsible">
    {% for tag in tags %}
        <div class="checkbox-row">
            <input type="hidden" name="tag{{tag.id}}" id="tag{{tag.id}}" value="{{selectedTags|get:tag.id}}">
            {{ selectedTags|ternary_checkbox:tag.id }}
            <label for="tag{{tag.id}}" class="click-pointer {{ tag.category|lower|slugify }}" onclick="filterLabel(this)">{{tag.name}}</label>
            <br/>
        </div>
    {% endfor %}
    </div>
</div>
{% endfor %}