<select id="tagDropdown" oninput="addTag(this)" >
    <option value="" disabled selected>Select tags</option>
    {% for category, tags in tagsByCategory.items %}
    <optgroup label={{category}}>
        {% for tag in tags %}
            <option value="{{tag.id}}" meta="{{tag.category}}">{{tag.name}}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>