* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

.filter-column h5 {
  margin-bottom: 0;
  margin-block-start: 1em;
}

.filter-column h5:first-child {
  margin-block-start: 0;
}

h5.nobreak {
  display: inline-block;
}

#sidebar h3 {
  margin-bottom: 0.5em;
}

.floating-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid darkslategray 1px;
}

#logo {
  color: darkcyan;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline;
  margin: 0;
}

.nav-item {
  display: inline;
  margin: 0 8px;
  border-bottom: none;
  color: #222;
  font-size: larger;
}

.nav-item:hover {
  border-bottom: 2px solid darkturquoise;
}

.undecorated-link {
  text-decoration: none;
  color: inherit;
}

.project-list, .application-list {
  list-style-type: none;
  padding-inline-start: 1em;
}

#id_title {
  display: inline;
  width: 37em;
  height: 1.4em;
  vertical-align: text-top;
}

#tagBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tag-bubble {
  display: inline-block;
  font-weight: 500;

  background-color: lightpink;
  border: 1px indianred solid;

  border-radius: 4px;

  padding: 4px;
  margin: 4px 4px 0px;
}

#tagBox.closable .tag-bubble {
  user-select: none;
}

#tagBox.closable .tag-bubble:hover {
  background-color: white;
  border-style: dashed;
}

.dashed-box {
  border-radius: 4px;
  border: 1px black dashed;
  margin-bottom: 8px;
  padding: 4px;
}

.status-box {
  display: inline-block;
  white-space: nowrap;
  vertical-align: -110%;
}

.application {
  display: flex;
  width: 60em;
}

.application-meta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 4px 12px 8px 4px;
  padding-right: 12px;
  padding-left: 8px;
  width: 3.5em;
  font-size: small;
}

.priority-number {
  font-size: x-large;
  color: darkcyan;
  display: inline;
}

.application-status {
  text-align: center;
  background: rgba(207, 255, 180, 0.6);
  border-radius: 4px;
  border: solid rgba(207, 255, 180, 1);
}

.split-content-container {
  display: flex;
  justify-content: center;
}

#main-content {
  flex: 4;
  margin-right: 8px;
  max-width: 80em;
}

#sidebar {
  flex: 1;
  border-left: 1px solid lightgray;
  padding-left: 0.5em;
  max-width: fit-content;
}

textarea {
  display: block;
  width: 40em;
}
