#student-priority-list {
    padding-inline-start: 1em;
}

.priorityLi.overflow {
    list-style-type: none;
}

#student-applications-list {
    padding-inline-start: 0;
}

#student-applications-list li {
    margin-left: 2em;
}

.application-status {
    text-align: center;
    background: rgba(207, 255, 180, 0.6);
    border-radius: 4px;
    border: solid rgba(207, 255, 180, 1);
}

.application-status.preempt {
    background: rgba(207, 255, 180, 0.6);
    border-color: rgba(207, 255, 180, 1);
}

.application-status.offer {
    background: rgba(255, 241, 180, 0.6);
    border-color: rgba(255, 241, 180, 1);
}

.application {
    display: flex;
    width: 60em;
}

.application.offered {
    background: rgba(255, 241, 180, 0.2);
    border-color: rgb(160, 130, 20);
}

.application.accepted {
    border: solid 2px gold;
}

.application.declined, .application.retracted {
    background: rgba(230, 230, 230, 1);
    border-color: black;
}

.application-meta-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 4px 12px 8px 8px;
    width: 3.5em;
    font-size: small;
}

.application>div:last-child {
    margin-right: 1em;
}

#new-comment-form textarea {
    width: 60em;
    height: 1.5em;
    resize: vertical;
    margin-top: 2px;
    margin-bottom: 4px;
}
.priority-number {
    font-size: x-large;
    color: darkcyan;
    display: inline;
}

.application-list {
    list-style-type: none;
    padding-inline-start: 1em;
}

.comment-date {
    opacity: 0.7;
}

.user-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1em;
}

.user-bubble {
    display: inline-block;
    font-weight: 500;
    width: fit-content;

    background-color: aliceblue;
    border: 1px cornflowerblue solid;

    border-radius: 4px;

    padding: 4px;
    margin: 0px 4px;
}

.user-bubble:hover {
    border-style: dashed;
}

#user-error-notifier {
    background-color: indianred;
    color: white;
    border: 1px crimson solid;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 1em;
}

#user-error-notifier.hidden {
    display: none;
}