* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-top: 0;
}

.hidden {
  display: none;
}

.undecorated-link {
  text-decoration: none;
  color: inherit;
}

.underline-hover:hover {
  text-decoration: underline;
}

.nobreak {
  display: inline-block;
}

.dashed-box {
  border-radius: 4px;
  border: 1px black dashed;
  margin-bottom: 8px;
  padding: 4px;
}

.split-content-container {
  display: flex;
  justify-content: center;
}

#main-content {
  flex: 4;
  margin-right: 8px;
  max-width: 80em;
}

#sidebar {
  flex: 1;
  border-left: 1px solid lightgray;
  padding-left: 0.5em;
  max-width: fit-content;
  min-width: 21em;
}

textarea {
  display: block;
  width: 40em;
}

.low-checkbox {
  vertical-align: text-bottom;
  margin-bottom: 2px;
}

button, input[type=submit] {
  padding-bottom: 2px;
}

button {
  margin-top: 4px;
}

.click-pointer {
  cursor: pointer;
  user-select: none;
}