.floating-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid darkslategray 1px;
}

#logo {
    color: darkcyan;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin: 0;
}

.nav-item {
    display: inline;
    margin: 0 8px;
    border-bottom: none;
    color: #222;
    font-size: larger;
}

.nav-item:hover {
    border-bottom: 2px solid darkturquoise;
}

#user-status {
    display: flex;
    align-items: center;
    justify-items: end;
}

#user-status div {
    text-align: right;
    margin-right: 0.5em
}