.project-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.project-listing.closed {
    background: rgba(230, 230, 230, 1);
    border-color: black;
}

.project-listing.draft {
    color: rgba(0,0,0, 0.6);
    border-color: rgba(0,0,0, 0.6);
}

.filter-column h5 {
    margin-bottom: 0;
    margin-block-start: 1em;
}

.filter-column h5:first-child {
    margin-block-start: 0;
}

.status-box {
    display: inline-block;
    white-space: nowrap;
    vertical-align: -110%;
}

#id_title {
    display: inline;
    width: 37em;
    height: 1.4em;
    vertical-align: text-top;
}

.collapsible.collapsed {
    height: 0;
    overflow: hidden;
}

.custom-checkbox {
    appearance: none;
    display: inline-block;
    padding: 0;
    box-sizing: content-box;
    margin: 0 2px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 0.15em;
    transform: translateY(0.08em);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.custom-checkbox:hover {
    background-color: #eee;
}

.custom-checkbox.check {
    background-image: url(../img/check-grey.svg);
}

.custom-checkbox.check.checked, .custom-checkbox.check:checked {
    background-color: rgb(156, 204, 101);
    background-image: url(../img/check-white.svg);
}

.custom-checkbox.check.checked:hover, .custom-checkbox.check:checked:hover {
    background-color: rgb(107, 156, 56);
}

.custom-checkbox.cross {
    background-image: url(../img/cross-grey.svg);
}

.custom-checkbox.cross.checked {
    background-color: rgb(198, 40, 40);
    background-image: url(../img/cross-white.svg);
}

.custom-checkbox.cross.checked:hover {
    background-color: rgb(171, 0, 13);
}
