.tag {
  background-color: rgba(49, 235, 179, 0.6);
  border: 1px rgba(49, 235, 179, 1) solid;
}

.tag.no-bubble {
  background-color: transparent;
  border: transparent;
}

.tag.prerequisite-class {
  background-color: rgba(220, 38, 127, 0.6);
  border-color: rgba(220, 38, 127, 1);
}

.tag.specialization {
  background-color: rgba(255, 97, 0, 0.6);
  border-color: rgba(255, 97, 0, 1);
}

.tag.subject {
  background-color: rgba(255, 176, 0, 0.6);
  border-color: rgba(255, 176, 0, 1);
}

.tag.topic-of-interest {
  background-color: rgba(100, 143, 255, 0.6);
  border-color: rgba(100, 143, 255, 1);
}

.tag.method {
  background-color: rgba(120, 94, 240, 0.6);
  border-color: rgba(120, 94, 240, 1);
}

/* rgba(0, 77, 64, 0.4), rgba(170, 68, 153, 0.4), rgba(51, 34, 136, 0.4)*/