
#tagBox, .tagBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tagCategory {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    list-style-type: none;
    border-left: 1px solid black;
}

.tagCategory h3 {
    text-align: center;
    margin: 4px;
}

.tag-bubble {
    display: inline-block;
    font-weight: 500;
    width: fit-content;

    background-color: lightpink;
    border: 1px indianred solid;

    border-radius: 4px;

    padding: 4px;
    margin: 4px 4px 0px;
}

.closable .tag-bubble {
    user-select: none;
}

.closable .tag-bubble:hover {
    background-color: white;
    border-style: dashed;
}