{% extends 'pasapp/templates/base_template.html' %} 

{% load static %}

{% block imports %}
    <script src="{% static 'pasapp/js/tag_edit.js' %}"></script>
    <script>
        {% for projectTag in projectTags %}
            tagSet.add({{projectTag.id}});
        {% endfor %}
    </script>
    <script src="{% static 'pasapp/js/project_status_edit.js' %}"></script>
    <script>
        initialStatus = "Open";
    </script>
    <script>
        function redirectSelf() {
            const form = document.getElementById('copy-project-form');
            form.action = '/project/create/?next=/project/{{project.id}}/copy/';
            form.submit();
        }
    </script>
{% endblock %}
{% block title %} Copying {{project.title}} {% endblock %} 
{% block onload %} setInitialStatus() {% endblock %}
{% block content %}
    <form action="/project/create/?next=/projects/mine/" method="post" id="copy-project-form">
        {% csrf_token %} {{ form.as_p }}
        
        {% load html_components %}
        <p>{% status_select %}</p>

        {% tags_dropdown tags %}
        <br>
        {% tagbox_categorized projectTags True %}
        <br>
        <input type="submit" value="Create Copy"/>
        <input type="button" value="Create and start another" onclick="redirectSelf()"/>
    </form>
{% endblock %}
