{% extends 'pasapp/templates/base_template.html' %} 

{% load static %}

{% block imports %}
    <script src="{% static 'pasapp/js/tag_edit.js' %}"></script>
    <script src="{% static 'pasapp/js/project_status_edit.js' %}"></script>
    <script>
        function redirectSelf() {
            const form = document.getElementById('new-project-form');
            form.action = '/project/create/?next=/project/create/';
            form.submit();
        }
    </script>
{% endblock %}
{% block title %} New Project {% endblock %} 
{% block content %}
    {% load html_components %}
    <form action="/project/create/?next={{next}}" method="post" id="new-project-form">
        {% csrf_token %} {{ form.as_p }}

        <p>{% status_select %}</p>
        
        {% tags_dropdown tags %}
        <br>
        {% tagbox_categorized onclick=True %}
        <br>
        <input type="submit" value="Create Project"/>
        <input type="button" value="Create and start another" onclick="redirectSelf()"/>
    </form>
{% endblock %}
