{% extends 'pasapp/templates/base_template.html' %} 
{% load static %}

{% block title %} Applying for {{project.title}} {% endblock %} 
{% block imports %}
<script src="{% static 'pasapp/js/group_edit.js' %}"></script>
{% endblock %}
{% block content %} 
    <h1>Apply for {{project.title}}</h1>
    <p>Professor: {{project.professor.first_name}} {{project.professor.last_name}}</p>
    <form action="/project/{{project.id}}/apply/" method="post">
      {% csrf_token %} {{ form.as_p }}
      <p>Additional group members:
        <input type="text" id="user-entry" placeholder="Enter a username..." onkeydown="memberKeyDown(event)">
        <button type="button" onclick="addUser()">Add</button>
      </p>
      <div id="user-error-notifier" class="hidden"></div>
      <div id="user-box" class="user-box"></div>
      <input type="submit" value="Apply" />
    </form>
{% endblock %}
