{% extends 'pasapp/templates/base_template.html' %} 

{% load static %}

{% block imports %}
    <script src="{% static 'pasapp/js/tag_edit.js' %}"></script>
    <script>
        {% for projectTag in projectTags %}
            tagSet.add({{projectTag.id}});
        {% endfor %}
    </script>
    <script src="{% static 'pasapp/js/project_status_edit.js' %}"></script>
    <script>
        initialStatus = "{{project.status}}";
    </script>
{% endblock %}
{% block title %} Editing {{project.title}} {% endblock %} 
{% block onload %} setInitialStatus() {% endblock %}
{% block content %}
    <form action="/project/{{project.id}}/edit/?next={{next}}" method="post">
        {% csrf_token %} {{ form.as_p }}
        
        {% load html_components %}
        <p>{% status_select %}</p>

        {% tags_dropdown tags %}
        <br>
        {% tagbox_categorized projectTags True %}
        <br>
        <input type="submit" value="Update Project"/>
    </form>
{% endblock %}
