{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} My Projects {% endblock %}

{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/projects_actions.js' %}></script>
{% endblock %}

{% block onload %} {% endblock %}
{% block content %}
    <div class="floating-header" style="height: 3em;">
        <div>
            <a href="/project/create/?next=/projects/mine/" class="undecorated-link nav-item">➕ Add new project</a>
        </div>
    </div>
    <form action="/project/update_status/?next=/projects/mine/" method="post" id="update_status_form">
        {% csrf_token %}
        <input type="hidden" name="project" id="status_id">
        <input type="hidden" name="action" id="status_action">
    </form>
    <form action="/project/delete/?next=/projects/mine/" method="post" id="delete_project_form">
        {% csrf_token %}
        <input type="hidden" name="project" id="delete_id">
    </form>
    {% load custom_filters %}
    {% if drafts %}
        <h2>Drafts</h2>
        <ul class="project-list">
            {% for project in drafts %}
            <li class="dashed-box project-listing draft">
                <a href="{% url 'edit_project' project.id %}" class="undecorated-link underline-hover" title="Edit draft"><b>{{ project.title }}</b></a>
                <br/>
                {{project.description}}
                <br/>
                <a href="{% url 'edit_project' project.id %}?next=/projects/mine/"><button>✏️ Edit</button></a>
                <a href="{% url 'copy_project' project.id %}"><button>📄 Copy</button></a>
                <button onclick="publishProject({{project.id}})">📢 Publish</button>
                <button onclick="deleteProject({{project.id}})">❌ Delete</button>
            </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}
    {% if applied %}
        <h2>Projects with applications</h2>
        <ul class="project-list">
            {% for project in applied %}
            <li class="dashed-box project-listing">
                <a href="{% url 'project_details' project.id %}" class="undecorated-link underline-hover" title="View project details"><b>{{ project.title }}</b></a>
                <br/>
                {{project.description}}
                <br/>
                <b>Status:</b> {{project.status}}
                <br/>
                🛈 <b>{{ projectApplications|get:project.id }} students have applied so far.</b>
                <br/>
                <a href="{% url 'project_details' project.id %}"><button>🔍 View</button></a>
                <a href="{% url 'edit_project' project.id %}?next=/projects/mine/"><button>✏️ Edit</button></a>
                <button onclick="closeProject({{project.id}})">🔒 Close</button>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if open %}
        <h2>Open projects</h2>
        <ul class="project-list">
            {% for project in open %}
            <li class="dashed-box project-listing">
                <a href="{% url 'project_details' project.id %}" class="undecorated-link underline-hover" title="View project details"><b>{{ project.title }}</b></a>
                <br/>
                {{project.description}}
                <br/>
                <b>Status:</b> {{project.status}}
                <br/>
                🛈 No applications.
                <br/>
                <a href="{% url 'edit_project' project.id %}?next=/projects/mine/"><button>✏️ Edit</button></a>
                <button onclick="closeProject({{project.id}})">🔒 Close</button>
                <button onclick="deleteProject({{project.id}})">❌ Delete</button>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if other %}
        <hr>
        <h2>Closed projects</h2>
        <ul class="project-list">
            {% for project in other %}
            <li class="dashed-box project-listing closed">
                <a href="{% url 'project_details' project.id %}" class="undecorated-link underline-hover" title="View project details"><b>{{ project.title }}</b></a>
                <br/>
                {{project.description}}
                <br/>
                <b>Status:</b> {{project.status}}
                <br/>
                <a href="{% url 'edit_project' project.id %}?next=/projects/mine/"><button>✏️ Edit</button></a>
                <a href="{% url 'copy_project' project.id %}"><button>📄 Copy</button></a>
                <button onclick="deleteProject({{project.id}})">❌ Delete</button>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}