{% extends 'pasapp/templates/base_template.html' %} 

{% block title %}{{profileUser.first_name}} {{profileUser.last_name}}{% endblock %} 
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/tag_edit.js' %}></script>
    <script>
        {% for userTag in userTags %}
            tagSet.add({{userTag.id}});
        {% endfor %}
    </script>
{% endblock %}
{% block onload %} updateForm() {% endblock %}
{% block content %}
    {% load custom_filters %}
    {% load html_components %}
    <h2>{{profileUser.first_name}} {{profileUser.last_name}}</h2>
    {% if profileUser|is_professor %}
        <div class='professor-label'>Professor</div>
    {% else %}
        <div class='student-label'>Student</div>
    {% endif %}
    <p>Email: <a href="mailto:{{profileUser.email}}">{{profileUser.email}}</a></p>
    {% if profileUser|is_student %}
        {% tagbox_categorized userTags|academic id='tagBox-fixed' %}
        <br>
    {% endif %}
    {% if user.id == profileUser.id %}
        <form action="/user/{{profileUser.username}}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tags" id="id_tags" value="">
            {% if user|is_student %}
                {% tags_dropdown tags|academic:False %}
                <br>
                {% tagbox_categorized userTags|academic:False True %}
            {% else %}
                {% tags_dropdown tags %}
                <br>
                {% tagbox_categorized userTags True %}
            {% endif %}
            <br>
            <input type="submit" value="Save changes"/>
        </form>
    {% elif profileUser|is_student %}
        {% tagbox_categorized userTags|academic:False %}
    {% else %}
        {% tagbox_categorized userTags %}
    {% endif %}
{% endblock %}