{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} {{project.title}} {% endblock %} 
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/app_prof_edit.js' %}></script>
    <script src={% static 'pasapp/js/form_redirect.js' %}></script> 
{% endblock %}
{% block onload %} addNextRoutes() {% endblock %}
{% block content %} 
    {% load html_components %}
    <h1>{{project.title}}</h1>
    <h3>{{project.professor.first_name}} {{project.professor.last_name}}</h3>
    {% if project.professor.id == user.id %}
        <a href="/project/{{project.id}}/edit/">Edit this project</a>
    {% endif %}
    <p>{{project.description}}</p>
    <em>Status: </em>{{project.status}}
    <br />
    <p>
        <span class="i">🛈</span> {{applications.count}} students have applied so far.<br>
        {% if project.capacity %}
            Expected capacity: {{project.capacity}}
        {% endif %} 
    </p>
    {% if projectTags %}
        <b>Tags:</b>
        {% tagbox_categorized projectTags %}
    {% endif %}
    {% if project.professor.id == user.id %}
        {% load html_components %}
        {% application_list_professor_interactive applications comments comment_box=True %}
    {% endif %}
{% endblock %}
