{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} My Applications {% endblock %}
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/app_prof_edit.js' %}></script>
    <script src={% static 'pasapp/js/form_redirect.js' %}></script>
{% endblock %}
{% block onload %} addNextRoutes() {% endblock %}
{% block content %}
    {% for project, applications in sections.items %}
        <a href="/project/{{project.id}}/" class="undecorated-link underline-hover"><h2>{{project.title}}</h2></a>
        <div>
            {{project.description}}<br>
            {% if project.capacity %}
            <b>Expected capacity: </b>{{project.capacity}}
            {% endif %}
        </div>
        {% if applications %}
            {% load html_components %}
            {% application_list_professor_interactive applications comments comment_box=True %}
        {% else %}
            <em>There are no applications for this project yet.</em>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}