{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} {{project.title}} Applications {% endblock %} 
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/form_redirect.js' %}></script>
{% endblock %}
{% block onload %} addNextRoutes() {% endblock %}
{% block content %} 
  {% load html_components %}
  {% load custom_filters %}
    <h2>{{project.title}}</h2>
    <p>{{project.description}}</p>
    {% if applications %}
    <ul>
      {% for application in applications %}
      {% application_professor application comments|for_application:application buttons=True comment_box=True %}
      {% endfor %}
    </ul>
    {% else %}
    <p>No applications for this project have been sent yet.</p>
    {% endif %}
{% endblock %}
