{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} Projects {% endblock %} 
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/filters.js' %}></script>
    <script src={% static 'pasapp/js/ternary_checkbox.js' %}></script>
{% endblock %}
{% block content %} 
    {% load custom_filters %}
    {% load html_components %}
    {% if user|is_professor %}
        <div class="floating-header" style="height: 3em;">
            <div>
                <a href="/project/create/" class="undecorated-link nav-item">➕ Add new project</a>
            </div>
        </div>
    {% endif %}
    <div class="split-content-container">
        <div id="main-content">
            {% if projects %}
            <ul class="project-list">
            {% for project in projects %}
            <li class="dashed-box project-listing">
                <a href="{% url 'project_details' project.id %}" class="undecorated-link underline-hover"><b>{{ project.title }}</b></a>
                by 
                <a href="/user/{{project.professor.username}}" class="undecorated-link underline-hover">
                    <b>{{project.professor.first_name}} {{project.professor.last_name}}</b>
                </a>
                <br/>
                {{project.description}}
                <br/>
                <span><b>Status: </b>{{project.status}}</span> &emsp;
                | {{applicationInfo|get:project.id|at:1}} applications / {{applicationInfo|get:project.id|at:0}} offered
                {% if project.capacity %}
                / {{project.capacity}} capacity
                {% endif %}
                <br/>
                {% tagbox_static projectTags|for_project:project %}
            </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>There are no projects that match your current filter settings. Consider relaxing your filter criteria.</p>
            {% endif %}
        </div>
        <div id="sidebar">
            <form action="/projects/filter/" method="post">
                {% csrf_token %}
                <h3 class="nobreak">Filter projects</h3> <button onclick="clearFilters()" type="button">Clear</button> <input type="submit" value="Filter"/>
                <div class="split-content-container">
                    <div class="filter-column">
                        {% tagfilters allTags selectedTags %}
                    </div>
                    <div class="filter-column">
                        <h5 class="nobreak">Professors</h5>
                        <div class="tag tag-bubble no-bubble"></div><br>
                        {% for professor in professors %}
                            {% if professor.id in selectedProfessors %}
                                <input type="checkbox" name="prof{{professor.id}}" class="custom-checkbox check" checked/>
                            {% else %}
                                <input type="checkbox" name="prof{{professor.id}}" class="custom-checkbox check"/>
                            {% endif %}
                            <label for="prof{{professor.id}}">{{professor.first_name}} {{professor.last_name}}</label>
                            <br/>
                        {% endfor %}
                    </div>
                </div>
                <button onclick="clearFilters()" type="button">Clear</button> <input type="submit" value="Filter"/>
            </form>
        </div>
    </div>
{% endblock %}
