{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} {{project.title}} {% endblock %} 
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/form_redirect.js' %}></script>
{% endblock %}
{% block onload %} addNextRoutes() {% endblock %}
{% block content %} 
    {% load html_components %}
    <h1>{{project.title}}</h1>
    <h3>{{project.professor.first_name}} {{project.professor.last_name}}</h3>
    <p>{{project.description}}</p>
    <em>Status: </em>{{project.status}}
    <br />
    {% load custom_filters %}
    {% if user|is_student %}
        {% if student_application %}
            <p><b>You have already applied to this project.</b></p>
        {% else %}
            {% if project.status == 'Open' %}
            <a href="/project/{{project.id}}/apply/">Apply to this project</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <p>
        <span class="i">🛈</span> {{numApplicants}} students have applied so far. <br>
        {% if numOffered %}
            Offers extended: {{numOffered}}<br>
        {% endif %}
        {% if project.capacity %}
            Expected capacity: {{project.capacity}}
        {% endif %} 
    </p>
    {% if projectTags %}
        <b>Tags:</b>
        {% tagbox_categorized projectTags %}
    {% endif %}
    {% if student_application %}
        <h2>Your application:</h2>
        {% application_student student_application user comments|for_application:student_application True %}
    {% endif %}
{% endblock %}
