{% extends 'pasapp/templates/base_template.html' %} 

{% block title %} My Applications {% endblock %}
{% block imports %}
    {% load static %}
    <script src={% static 'pasapp/js/app_student_edit.js' %}></script>
    <script src={% static 'pasapp/js/form_redirect.js' %}></script>
{% endblock %}
{% block onload %} addNextRoutes() {% endblock %}
{% block content %}
    {% load html_components %}
    {% load custom_filters %}
    {% if applications or closedApplications %}
    <form action="/applications/update_priorities/" method="post">
        {% csrf_token %}
        <ol id="student-priority-list">
        {% for i in 8|times %}
            {% if i <= 5 %}
            <li class="priorityLi">
            {% else %}
            <li class="priorityLi overflow">
            {% endif %}
                <select class="prioritySelect" name="priority{{i}}" oninput="checkForConflicts(this)">
                    <option value="">--</option>
                    {% for application in applications %}
                        {% if application.priority == i %}
                            <option value={{application.id}} selected>{{application.project.title}}</option>
                        {% else %}
                            <option value={{application.id}}>{{application.project.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </li>
        {% endfor %}
        </ol>
        <input type="submit" value="Update Priorities"/>
    </form>
    <form action="/applications/update_student_status/" method="post" id="status_edit_form">
        {% csrf_token %}
        <input type="hidden" name="application" id="status_id">
        <input type="hidden" name="state" id="status_state">
    </form>
        <ol id="student-applications-list">
        {% if offeredApplications %}
            <h2>Extended Offers</h2>
            {% for application in offeredApplications %}
                {% application_student application user comments|for_application:application True %}
            {% endfor %}
        {% endif %}
        {% if openApplications %}
            <h2>Pending Applications</h2>
            {% for application in openApplications %}
                {% application_student application user comments|for_application:application True %}
            {% endfor %}
        {% endif %}
        {% if closedApplications %}
            <h2>Closed Applications</h2>
            {% for application in closedApplications %}
                {% application_student application user comments|for_application:application False %}
            {% endfor %}
        {% endif %}
        </ol>
    {% else %}
    <p>You have no applications to display yet!</p>
    {% endif %} 
{% endblock %}