<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} {% endblock %} | PAS</title>
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/basestyle.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/header.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/projects.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/tags.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/applications.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'pasapp/css/tagcategories.css' %}"
        />
        {% block imports %} {% endblock %}
    </head>
    <body onload="{% block onload %} {% endblock %}">
        <div class="floating-header">
            <h1 id="logo">PAS</h1>
            <div>
                <a href="/" class="undecorated-link nav-item">Projects</a>
                {% if user.username %}
                    {% load custom_filters %}
                    {% if user|is_professor %}
                        <a href="/projects/mine/" class="undecorated-link nav-item">My Projects</a>
                    {% endif %}
                    <a href="/applications/" class="undecorated-link nav-item">Applications</a>
                    <a href="/user/{{user.username}}" class="undecorated-link nav-item">Profile</a>
                {% endif %}
            </div>
            {% if user.username %}
            <div id="user-status">
                <div>
                    Logged in as <br>
                    {{user.first_name}} {{user.last_name}}
                </div>
                <a href="/logout/"><button type="button">Sign out</button></a>
            </div>
            {% else %}
            <div>
                <form action="/login/" method="post" style="display: inline">
                    {% csrf_token %} {{ loginForm }}
                    <input type="submit" value="Log In" />
                </form>
                | or <a href="register">register new user</a>
            </div>
            {% endif %}
        </div>
        <div class="messagebox {{message_type}}">{{message}}</div>
        {% block content %} {% endblock %}
    </body>
</html>
